body {
    background: hsl(0, 0%, 90%);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

header h1 {
    margin: 0;
}

div .post {
    background: white;
    width: 600px;
    margin: auto;
    margin-top: 1.5cm;
}

div .post .post_header {
    display: flex;
    /* background: black; */
}

div .post .image {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

div .post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

div .post h2 {
    /* background: royalblue; */
    padding: 12px;
    margin: 12px;
    width: 80%;
}

div .post p {
    margin-top: 0;
    padding: 15px;
}

div .post h4 {
    /* background: white; */
    width: 20%;
    text-align: right;
    vertical-align: ;
    padding-top: 10px;
    padding-right: 10px;
    color: gray;
    font-weight: lighter;
}